/* body */

body {
    color: black;
    font-family:'Raleway',sans-serif;
    font-size: 1rem;
    margin: 0;
}

#main_wrapper {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

/* header */

header nav {
    display: flex;
}

@media only screen and (max-width: 767px) {
    header nav {
        flex-wrap: wrap;
    }

    header nav :nth-child(1) {
        padding: 1.5rem 0 1.75rem 5.6%;
    }

    header nav :nth-child(2) {
        order: 3;
        padding: 0 9.6% 0.8125rem 10.4%;
        width: 30%;
    }

    header nav :nth-child(3) {
        order: 4;
        padding: 0 17.6% 0.8125rem 16%;
        width: 16.4%;
    }

    header nav :nth-child(4) {
        margin-left: auto;
        order: 2;
        padding: 2.5rem 5.6% 0 0;
        text-align: right;
        width: 44.4%;
    }

    header a {
        display: flex;
        border-bottom: 0.1875rem #F2F2F2 solid;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    header nav :nth-child(1){
        padding: 2.75rem 0 2.3125rem 3.681%;
    }
    
    header nav :nth-child(2) {
        margin-left: auto;
    }

    header nav :nth-child(4) {
        padding: 3rem 5.347% 0 3.194%;
    }

    header a {
        border-top: 0.125rem white solid;
        margin-left: 1.181%;
        padding: 2.875rem 1.528% 0 1.944%;
    }
}

header img {
    height: auto;
    width: 6rem;
}

header a:hover, header strong {
    border-color: #0065FC;
    color: #0065FC;
}

/* main */

main a {
    background: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 1.25rem #D9D9D9;
    color: black;
    display: flex;
    overflow: hidden;
    text-decoration: none;
}

/* research */

@media only screen and (max-width: 767px) {
    #research {
        padding: 1.9375rem 5.6% 2.25rem 5.6%;
    }

    #research h1 {
        margin-bottom: 0.8125rem;
    }

    #research h1 + p {
        margin-bottom: 2.1875rem;
    }

    #research p + div {
        margin-bottom: 2.0625rem;
    }

    form {
        flex: 1;
    }

    input {
        display: flex;
        padding: 0.875rem 1.8125rem 0.875rem 0.875rem;
        width: calc(100% - 1.8125rem);
    }

    #research div form + strong {
        display: none;
    }

    i[class="fas fa-search"] {
        align-items: center;
        background-color: #0065FC;
        border : 0.0625rem #0065FC solid;
        border-radius: 1rem;
        color: white;
        display: flex;
        font-size: 1.125rem;
        height: 1.3125rem;
        justify-content: center;
        padding: 0.875rem;
        min-width: 1.3125rem;
    }

    #research > :nth-child(4) {
        margin-bottom: 1.125rem;
    }

    #research h3 {
        font-size: 1.125rem;
        margin-bottom: 0.9375rem;
        width: 100%;
    }

    #filters {
        margin-left: 0;
        position: relative;
        right: 0.875rem;
    }

    .filter {
        margin-left: 2.375rem;
        margin-bottom: 0.8125rem; 
    }

    .filter strong {
        font-size: 0.9375rem;
        padding: 0.875rem 1.25rem 0.875rem 2rem;   
    }
}

@media only screen and (min-width: 768px) {
    #research {
        padding: 0 5.347% 2.4375rem 3.681%;
    }

    #research h1 {
        margin-bottom: 0.5rem;
    }

    #research h1 + p {
        margin-bottom: 1.1875rem;
    }

    #research p + div {
        margin-bottom: 1.9375rem;
    }

    input {
        padding: 0.875rem;
    }

    #research div form + strong {
        background-color: #0065FC;
        border : 0.0625rem #0065FC solid;
        border-radius: 0 0.875rem 0.875rem 0;
        color: white;
        font-size: 1.125rem;
        padding: 0.875rem;
    }

    i[class="fas fa-search"] {
        display: none;
    }

    #research > :nth-child(4) {
        display: flex;
        margin-bottom: 0.6875rem;
    }

    #research h3 {
        font-size: 1.125rem;
        padding: 0.9375rem 0 0 0.625%;
    }

    #filters {
        margin-left: 0.5rem;
    }

    .filter {
        margin-left: 3.0625rem;
        margin-bottom: 1.5rem; 
    }

    .filter strong {
        font-size: 1.125rem;
        padding: 0.8125rem 1.25rem 0.75rem 2rem;   
    }

    #research > :nth-child(5) > i {
        margin-left: 0.417%;
    }
}

#research h1 {
    font-size: 1.375rem;
}

#research p + div {
    display: flex;
}

i[class="fas fa-map-marker-alt"] {
    align-items: center;
    background-color: #F2F2F2;
    border : 1px #F2F2F2 solid;
    border-radius: 16px 0 0 16px;
    display: flex;
    font-size: 1.125rem;
    height: 1.3125rem;
    justify-content: center;
    padding: 14px;
    min-width: 1.3125rem;
}

input {
    border : 1px #F2F2F2 solid; 
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}

#filters {
    display: flex;
    flex-wrap: wrap;
}

.filter { 
    display: flex;
}

.filter i {
    align-items: center;
    background-color: #DEEBFF;
    border : 0.125rem #DEEBFF solid;
    border-radius: 3.125rem;
    color: #0065FC;
    display: flex;
    font-size: 1.1875rem;
    height: 1.375rem;
    justify-content: center;
    left: 0.4375rem;
    padding: 0.75rem;
    position: relative;
    min-width: 1.375rem;
}

.filter strong {
    border: 0.125rem #D9D9D9 solid;
    border-radius: 0 3.125rem 3.125rem 0;
}

.filter strong:hover {
    color: #0065FC;
}

.filter:nth-child(4) {
    width: max-content;
}

#research > :nth-child(5) {
    display: flex;
}

#research > :nth-child(5) > i {
    align-items: center;
    border: 0.0625rem #D9D9D9 solid;
    border-radius: 6.25rem;
    color: #0065FC;
    display: flex;
    font-size: 0.75rem;
    height: 0.625rem;
    justify-content: center;
    padding: 0.375rem;
    min-width: 0.625rem;
}

#research > :nth-child(5) > p {
    margin: 0.1875rem 0 0 0.6875rem;
}

/*hostings*/

#hostings
{
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px 60px 50px;
}

#hostings section
{
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 42px 40px 46px 40px;
}

#hostings section h2
{
    font-size: 22px;
    margin: 0 0 23px 0;
}

#hostings section h2 + div
{
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 428px;
    justify-content: space-between;
    margin: 0 0 40px 0;
    width: 795px;
}

#hostings section a
{
    border: 5px white solid;
    flex-direction: column;
    height: 189px;
    width: 235px;
}

#hostings section a div
{
    height: 114px;
    margin-bottom: 9px;
    overflow: hidden;
    width: 235px;
}

#hostings section img
{
    height: auto;
    width: 244px;
    position: relative;
    right: 4px;
}

img[alt="Auberge la Cannebière"], img[alt="Hôtel Les mouettes"]
{
    bottom: 24px;
}

img[alt="Hôtel du port"]
{
    bottom: 25px;
}

img[alt="Hôtel de la mer"]
{
    bottom: 56px;
}

img[alt="Auberge Le Panier"]
{
    bottom: 11px;
}

img[alt="Hôtel chez Amina"]
{
    bottom: 126px;
}

#hostings section h3
{
    font-size: 16px;
    margin: 0 0 5px 11px;
}

#hostings section p
{
    font-size: 14px;
    margin: 0 0 8px 11px;
}

#hostings section ul
{
    display: flex;
    margin: 0 0 6px 11px;
}

#hostings section i
{
    color: #0065FC;
    font-size: 12px;
}

#hostings .grey i
{
    color: #D9D9D9;
}

#hostings section div + strong
{
    font-size: 18px;
}

/*aside*/

aside
{
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 41px 37px 34px 37px;
}

aside > div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

aside h2
{
    font-size: 22px;
    margin: 0;
}

aside h2 + i
{
    font-size: 22px;
    position: relative;
    top: 2px;
}

aside > div + div
{
    display: flex;
    flex-direction: column;
    height: 498px;
    justify-content: space-between;
    margin-bottom: 0;
}

aside a
{
    background: white;
    border: 5px white solid;
    border-radius: 20px;
    box-shadow: 0 0 20px #D9D9D9;
    display: flex;
    height: 134px;
    overflow: hidden;
    width: 333px;
}

aside a > div
{
    width: 127px;
    height: 134px;
    overflow: hidden;
}

aside a > div + div
{
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 134px;
}

img[alt="Hôtel Le soleil du matin"]
{
    bottom: 6px;
    height: auto;
    position: relative;
    right: 44px;
    width: 216px;
}

img[alt*="Au coeur de l'eau"]
{
    bottom: 4px;
    height: auto;
    position: relative;
    right: 33px;
    width: 188px;
}


img[alt="Hôtel Tout bleu et Blanc"]
{
    bottom: 36px;
    height: auto;
    position: relative;
    right: 6px;
    width: 138px;
}

aside h3
{
    font-size: 16px;
    margin: 11px 10px 7px 20px;
}

aside p
{
    font-size: 14px;
    margin: 0 10px 41px 20px;
}

aside ul
{
    display: flex;
    margin: 0 10px 2px 20px;
}

aside li i
{
    color: #0065FC;
    font-size: 11px;
}

/*activities*/

#activities
{
    padding: 0 50px 60px 50px;
}

#activities h2
{
    font-size: 22px;
    margin: 0 0 22px 0;
}

#activities h2 + div
{
    display: flex;
    justify-content: space-between;
}

#activities a
{
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #D9D9D9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 302px;
}

#activities div > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities strong
{
    font-size: 17px;
    margin: 19px 20px 0 20px;
}

#Vieux_Port, #Parc_National
{
    height: 446px;
}
#Vieux_Port div, #Parc_National div
{
    height: 390px;
    overflow: hidden;
    width: 302px;
}

#Vieux_Port img
{
    width: 670px;
    height: auto;
    position: relative;
    right: 186px;
}

#Parc_National img
{
    width: 660px;
    height: auto;
    position: relative;
    right: 180px;
}

#Fort_de_Pomègues
{
    height: 236px;
}

#Fort_de_Pomègues div
{
    height: 180px;
    overflow: hidden;
    width: 302px;
}

#Fort_de_Pomègues img
{
    width: 302px;
    height: auto;
    position: relative;
    bottom: 110px;
}

#Îles_du_Frioul
{
    height: 166px;
}

#Îles_du_Frioul div
{
    height: 110px;
    overflow: hidden;
    width: 302px;
}

#Îles_du_Frioul img
{
    height: auto;
    width: 302px;
    position: relative;
    bottom: 18px;
}

#Notre_Dame
{
    height: 196px;
}

#Notre_Dame div
{
    height: 140px;
    overflow: hidden;
    width: 302px;
}

#Notre_Dame img
{
    height: auto;
    width: 302px;
}

#Parc_Longchamp
{
    height: 206px;
}

#Parc_Longchamp div
{
    height: 150px;
    overflow: hidden;
    width: 302px;
}

#Parc_Longchamp img
{
    height: auto;
    width: 302px;
    position: relative;
    bottom: 12px;
}

/*footer*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    padding: 46px 50px 38px 50px;
}

footer h3
{
    font-size: 18px;
    margin: 0 0 20px 0;
}

footer li
{
    font-size: 16px;
    margin: 0 0 12px 0;
}

footer section:nth-child(2)
{
    padding: 0 0 0 228px;
}

footer section:nth-child(3)
{
    padding: 0 0 0 292px;
}