/* body */

body {
    color: black;
    font-family:'Raleway',sans-serif;
    font-size: 1rem;
    margin: 0;
}

#main_wrapper {
    width: 100%;
}

@media only screen and (min-width: 2000px) {
    #main_wrapper {
        width: 2000px;
        margin: auto;
    }
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, p, ul {
    margin: 0;
}

h1, h2 {
    font-size: 1.375rem;
}

h3 {
    font-size: 1rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* header */

header nav {
    display: flex;
}

@media only screen and (max-width: 767px) {
    header nav {
        flex-wrap: wrap;
    }

    header nav :nth-child(1) {
        padding: 1.5rem 0 1.75rem 5.6%;
    }

    header nav :nth-child(2) {
        order: 3;
        padding: 0 9.6% 0.8125rem 10.4%;
        width: 30%;
    }

    header nav :nth-child(3) {
        order: 4;
        padding: 0 17.6% 0.8125rem 16%;
        width: 16.4%;
    }

    header nav :nth-child(4) {
        margin-left: auto;
        order: 2;
        padding: 2.5rem 5.6% 0 0;
        text-align: right;
        width: 44.4%;
    }

    header a {
        display: flex;
        border-bottom: 0.1875rem #F2F2F2 solid;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    header nav :nth-child(1){
        padding: 2.75rem 0 2.3125rem 3.681%;
    }
    
    header nav :nth-child(2) {
        margin-left: auto;
    }

    header nav :nth-child(4) {
        padding: 3rem 5.347% 0 3.194%;
    }

    header a {
        border-top: 0.125rem white solid;
        margin-left: 1.181%;
        padding: 2.875rem 1.528% 0 1.944%;
    }
}

header img {
    height: auto;
    width: 6rem;
}

header a:hover, header strong {
    border-color: #0065FC;
    color: #0065FC;
}

/* main */

main a {
    background: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 1.25rem #D9D9D9;
    display: flex;
    overflow: hidden;
}

/* research */

@media only screen and (max-width: 767px) {
    #research {
        padding: 1.9375rem 5.6% 2.25rem 5.6%;
    }

    #research h1 {
        margin-bottom: 0.8125rem;
    }

    #research h1 + p {
        margin-bottom: 2.1875rem;
    }

    #research p + div {
        margin-bottom: 2.0625rem;
    }

    form {
        flex: 1;
    }

    input {
        display: flex;
        padding: 0.875rem 1.8125rem 0.875rem 0.875rem;
        width: calc(100% - 1.8125rem);
    }

    #research div form + strong {
        display: none;
    }

    i[class="fas fa-search"] {
        align-items: center;
        background-color: #0065FC;
        border : 0.0625rem #0065FC solid;
        border-radius: 1rem;
        color: white;
        display: flex;
        font-size: 1.125rem;
        height: 1.3125rem;
        justify-content: center;
        padding: 0.875rem;
        min-width: 1.3125rem;
    }
}

@media only screen and (max-width: 1279px) {
    #research > :nth-child(4) {
        margin-bottom: 1.125rem;
    }

    #research h3 {
        font-size: 1.125rem;
        margin-bottom: 0.9375rem;
    }

    #filters {
        margin-left: 0;
        position: relative;
        right: 0.875rem;
        width: calc(100% + 0.875rem);
    }

    .filter {
        margin: 0 0 0.8125rem 2.375rem;
    }

    .filter strong {
        font-size: 0.9375rem;
        padding: 0.875rem 0.875rem 0.875rem 2rem;   
    }
}

@media only screen and (min-width: 768px) {
    #research {
        padding: 0 3.75% 2.3125rem 3.75%;
    }

    #research h1 {
        margin: 0 0 0.5rem 0.0625rem;
    }

    #research h1 + p {
        margin: 0 0 1.1875rem 0.0625rem;
    }

    #research p + div {
        margin-bottom: 1.9375rem;
    }

    input {
        padding: 0.875rem;
    }

    #research div form + strong {
        background-color: #0065FC;
        border : 0.0625rem #0065FC solid;
        border-radius: 0 0.875rem 0.875rem 0;
        color: white;
        font-size: 1.125rem;
        padding: 0.875rem;
    }

    i[class="fas fa-search"] {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #research > :nth-child(4) {
        display: flex;
        margin-bottom: 0.6875rem;
    }

    #research h3 {
        font-size: 1.125rem;
        padding: 0.9375rem 0 0 0.5625rem;
    }

    #filters {
        margin-left: 0.5rem;
    }

    .filter {
        margin: 0 0 1.5rem 3.0625rem;
    }

    .filter strong {
        font-size: 1.125rem;
        padding: 0.8125rem 1.25rem 0.75rem 2rem;   
    }

    #research > :nth-child(5) {
        margin-left: 0.3125rem;
    }
}

#research p + div {
    display: flex;
}

i[class="fas fa-map-marker-alt"] {
    align-items: center;
    background-color: #F2F2F2;
    border : 0.0625rem #F2F2F2 solid;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    font-size: 1.125rem;
    height: 1.3125rem;
    justify-content: center;
    padding: 0.875rem;
    min-width: 1.3125rem;
}

input {
    border : 0.0625rem #F2F2F2 solid; 
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}

#filters {
    display: flex;
    flex-wrap: wrap;
}

.filter { 
    display: flex;
}

.filter i {
    align-items: center;
    background-color: #DEEBFF;
    border : 0.125rem #DEEBFF solid;
    border-radius: 3.125rem;
    color: #0065FC;
    display: flex;
    font-size: 1.1875rem;
    height: 1.375rem;
    justify-content: center;
    left: 0.4375rem;
    padding: 0.75rem;
    position: relative;
    min-width: 1.375rem;
}

.filter strong {
    border: 0.125rem #D9D9D9 solid;
    border-radius: 0 3.125rem 3.125rem 0;
}

.filter strong:hover {
    color: #0065FC;
}

.filter:nth-child(4) {
    width: max-content;
}

#research > :nth-child(5) {
    display: flex;
}

#research > :nth-child(5) > i {
    align-items: center;
    border : 0.0625rem #D9D9D9 solid;
    border-radius: 6.25rem;
    color: #0065FC;
    display: flex;
    font-size: 0.75rem;
    height: 0.625rem;
    justify-content: center;
    padding: 0.375rem;
    min-width: 0.625rem;
}

#research > :nth-child(5) > p {
    margin: 0.1875rem 0 0 0.6875rem;
}

/* hostings */

@media only screen and (max-width: 767px) {
    #hostings {
        display: flex;
        flex-direction: column;
    }

    #hostings section {
        order: 2;
        padding: 2.25rem 5.6% 3.3125rem 5.6%;
    }

    #hostings section h2 {
        margin-bottom: 1.1875rem;
    }

    #hostings section > :nth-child(2) {
        display: flex;
        flex-direction: column;
        height: 78.375rem;
        justify-content: space-between;
        margin-bottom: 1.9375rem;
    }

    #hostings section a div, #hostings section a picture {
        display: flex;
        margin-bottom: 0.5625rem;
        max-height: 7.125rem;
    }

    #hostings section h3 {
        margin-bottom: 0.3125rem;
    }

    #hostings section p {
        margin-bottom: 0.25rem;
    }

    aside {
        flex: 1;
        order: 1;
        padding: 2.375rem 5.6% 2.3125rem 5.6%;
    }

    aside > :nth-child(1) {
        margin-bottom: 1.675rem;
    }

    aside > :nth-child(2) {
        height: 28.3125rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    aside a {
        border: 0.3125rem white solid;
        height: 8.375rem;
    }
    
    aside a > :nth-child(1) {
        width: 7.9375rem;
        height: 8.375rem;
        overflow: hidden;
    }
    
    aside a > :nth-child(2){
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-top: 0.6875rem;
    }
    
    img[alt="Hôtel Le soleil du matin"] {
        object-fit: cover;
        object-position: center -0.25rem;
        height: 8.625rem;
        width: 7.9375rem;
    }
    
    img[alt*="Au coeur de l'eau"] {
        object-position: -1.875rem -0.25rem;
        height: 8.75rem;
        width: 8.75rem;
        object-fit: cover;
    }
    
    img[alt="Hôtel Tout bleu et Blanc"] {
        object-position: -0.25rem -2.1875rem;
        height: 8.625rem;
        width: 8.5rem;
        object-fit: cover;
    }

    aside h3, aside p {
        margin: 0 0.9375rem 0.4375rem 1.25rem;
    }
    
    aside p {
        font-size: 0.875rem;
    }
    
    aside ul {
        display: flex;
        margin: auto 0.9375rem 0.375rem 1.25rem;
    }
    
    aside li i {
        color: #0065FC;
        font-size: 0.6875rem;
    }
}

@media only screen and (min-width: 768px) {
    #hostings {
        display: flex;
        padding: 0 3.472% 3.75rem 3.472%; 
    }

    #hostings section {
        border-radius: 1.25rem;
        background: #F2F2F2;
        padding: 2.625rem 2.78% 2.875rem 2.78%;
    }

    #hostings section h2 {
        margin-bottom: 1.4375rem;
    }

    #hostings section > :nth-child(2) {
        align-content: space-between;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 26.75rem;
        margin-bottom: 2.5rem;
    }

    #hostings section a {
        width: 29.5%;
    }

    #hostings section a div, #hostings section a picture{
        display: flex;
        max-height: 7.125rem;
        margin-bottom: 0.5625rem;
        overflow: hidden;
        align-items: flex-end;
    }

    img[alt="Auberge la Cannebière"] {
        object-position: center 1.5rem;
    }

    img[alt="Hôtel de la mer"] {
        object-position: center 2.875rem;
    }

    img[alt="Hôtel chez Amina"] {
        object-position: center 7.625rem;
    }

    #hostings section h3 {
        margin-bottom: 0.3125rem;
    }

    #hostings section p {
        margin-bottom: 0.25rem;
    }

    #hostings section > :nth-child(3) {
        margin-left: 0.25rem;
    }

    img[alt="Vieux Port"] {
        object-position: center -1.625rem;
        height: 27.8125rem;
    }

    img[alt="Fort de Pomègues"] {
        object-position: center -6.875rem;
    }

    img[alt="Îles du Frioul"] {
        object-position: center -1.125rem;
    }

    img[alt="Parc National des Calanques"] {
        object-position: center -0.75rem;
        height: 27.8125rem;
    }

    img[alt="Notre-Dame-de-la-Garde"] {
        object-position: center 0;
    }

    img[alt="Parc Longchamp"] {
        object-position: center -1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #hostings {
        flex-direction: column;
    }

    #hostings section {
        order: 2;
    }

    aside {
        order: 1;
        border-radius: 1.25rem;
        background: #F2F2F2;
        margin-bottom: 2.5rem;
        padding: 2.625rem 2.78% 2.875rem 2.78%;
    }

    aside > :nth-child(1) {
        margin-bottom: 1.4375rem;
    }

    aside > :nth-child(2) {
        display: flex;
        justify-content: space-between;
    }

    aside a {
        display: flex;
        flex-direction: column;
        width: 29.5%;
        border: 0.3125rem white solid;
    }

    aside a > :nth-child(1) {
        height: 7.125rem;
        overflow: hidden;
    }

    img[alt="Hôtel Le soleil du matin"] {
        object-fit: cover;
        object-position: center -1.5rem;
        max-width: 100%;
    }
    
    img[alt*="Au coeur de l'eau"] {
        object-position: center -1.125rem;
        max-width: 100%;
        object-fit: cover;
    }
    
    img[alt="Hôtel Tout bleu et Blanc"] {
        object-position: center -8.75rem;
        max-width: 100%;
        object-fit: cover;
    }

    aside a > :nth-child(2) {
        display: flex;
        flex-direction: column;
        height: 5.0626rem;
        padding: 0.5625rem 0.6875rem 0.25rem 0;
    }

    #hostings h3, #hostings p, #hostings ul {
        margin-left: 0.6875rem;
    }

    aside h3 {
        margin-bottom: 0.3125rem;
    }

    aside p {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
    }

    aside ul {
        margin-top: auto;
        display: flex;
    }
    
    aside li i {
        color: #0065FC;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 1280px) {
    #hostings {
        justify-content: space-between;
    }

    #hostings section {
        width: 61.111%;
    }

    aside {
        border-radius: 1.25rem;
        width: 25.597%;
        padding: 2.625rem 2.36% 2.3125rem;
    }

    aside > :nth-child(1) {
        margin-bottom: 1.675rem;
    }

    aside > :nth-child(2) {
        height: 31.125rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    aside a {
        border: 0.3125rem white solid;
        height: 8.375rem;
    }
    
    aside a > :nth-child(1) {
        width: 7.9375rem;
        height: 8.375rem;
        overflow: hidden;
    }
    
    aside a > :nth-child(2){
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-top: 0.6875rem;
    }
    
    img[alt="Hôtel Le soleil du matin"] {
        object-fit: cover;
        object-position: center -0.25rem;
        height: 8.625rem;
        width: 7.9375rem;
    }
    
    img[alt*="Au coeur de l'eau"] {
        object-position: -1.875rem -0.25rem;
        height: 8.75rem;
        width: 8.75rem;
        object-fit: cover;
    }
    
    img[alt="Hôtel Tout bleu et Blanc"] {
        object-position: -0.25rem -2.1875rem;
        height: 8.625rem;
        width: 8.5rem;
        object-fit: cover;
    }

    aside h3, aside p {
        margin: 0 0.9375rem 0.4375rem 1.25rem;
    }
    
    aside p {
        font-size: 0.875rem;
    }
    
    aside ul {
        display: flex;
        margin: auto 0.9375rem 0.375rem 1.25rem;
    }
    
    aside li i {
        color: #0065FC;
        font-size: 0.6875rem;
    }
}

#hostings section a {
    border: 0.3125rem white solid;
    flex-direction: column;
    height: 11.8125rem;
}

#hostings section img {
    max-width: 100%;
    object-fit: cover;
}


#hostings section h3, #hostings section p, #hostings section ul {
    margin-left: 0.6875rem;
} 

#hostings section p {
    font-size: 0.875rem;
}

#hostings section ul {
    display: flex;
}

#hostings section i {
    color: #0065FC;
    font-size: 0.75rem;
}

#hostings .grey i {
    color: #D9D9D9;
}

#hostings section > :nth-child(3) {
    font-size: 1.125rem;
}

aside {
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
}

aside > :nth-child(1) {
    display: flex;
    justify-content: space-between;
}

aside > :nth-child(1) i {
    font-size: 1.375rem;
    position: relative;
    top: 0.125rem;
}

/* activities */

@media only screen and (max-width: 767px) {
    #activities {
        padding: 0 5.6% 1.5625rem 5.6%;
    }

    #activities h2 {
        margin-bottom: 1.75rem;
    }

    #activities > :nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    #activities a {
        flex-direction: column;
        height: 11.875rem;
        margin-bottom: 1.5rem;
    }

    #activities a div, #activities a picture {
        height: 8.375rem;
    }

    img[alt="Vieux Port"] {
        object-position: center -26px;
    }

    img[alt="Fort de Pomègues"] {
        object-position: center -160px;
    }

    img[alt="Îles du Frioul"] {
        object-position: center -15px;
    }

    img[alt="Parc National des Calanques"] {
        object-position: center -18px;
    }

    img[alt="Notre-Dame-de-la-Garde"] {
        object-position: center -14px
    }

    img[alt="Parc Longchamp"] {
        object-position: center -28px
    }

}

@media only screen and (min-width: 768px) {
    #activities {
        padding: 0 3.472% 3.875rem;
    }

    #activities h2 {
        margin-bottom: 1.4375rem;
    }

    #activities > :nth-child(2) {
        align-content: space-between;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 58.3125rem;
    }

    #activities > :nth-child(2) > :nth-child(2n) {
        display: flex;
        justify-content: space-between;
    }

    #activities > :nth-child(2) > :nth-child(2n) a {
        display: flex;
        flex-direction: column;
    }

    #activities > :nth-child(2) > :nth-child(n) {
        flex-direction: column;
        height: 27.8125rem;
        width: 47.596%;
    }

    #activities > :nth-child(2) > :nth-child(3) {
        order: 4;
    }

    #activities > :nth-child(2) > :nth-child(4) {
        order: 3;
    }

    #activities > :nth-child(2) > :nth-child(2) > :nth-child(1) {
        height: 14.75rem;
    }

    #activities > :nth-child(2) > :nth-child(2) > :nth-child(2) {
        height: 10.375rem;
    }

    #activities > :nth-child(2) > :nth-child(4) > :nth-child(1) {
        height: 12.25rem;
    }

    #activities > :nth-child(2) > :nth-child(4) > :nth-child(2) {
        height: 13.0625rem;
    }

    #activities a div, #activities a picture {
        height: 24.375rem;
    }

    #activities > :nth-child(2) > :nth-child(2) > :nth-child(1) div {
        height: 11.3125rem;
    }

    #activities > :nth-child(2) > :nth-child(2) > :nth-child(2) picture {
        height: 6.875rem;
    }

    #activities > :nth-child(2) > :nth-child(4) > :nth-child(1) picture {
        height: 8.75rem;
    }

    #activities > :nth-child(2) > :nth-child(4) > :nth-child(2) picture {
        height: 9.5625rem;
    }
}

@media only screen and (min-width: 1280px) {
    #activities > :nth-child(2) {
        height: 27.8125rem;
    }

    #activities > :nth-child(2) > :nth-child(n) {
        width: 22.5373%;
    }

    #activities > :nth-child(2) > :nth-child(3) {
        order: 3;
    }

    #activities > :nth-child(2) > :nth-child(4) {
        order: 4;
    }
}

#activities a div, #activities a picture {
    margin-bottom: 1.25rem;
    overflow: hidden;
}

#activities img {
    max-width: 100%;
    object-fit: cover;
}

#activities a h3 {
    margin-left: 1.25rem;
}

/*footer*/

footer {
    background-color: #F2F2F2;
    display: flex;
}

@media only screen and (max-width: 767px) {
    footer {
        flex-direction: column; 
        padding: 2.8125rem 5.6% 2.125rem;
    }

    footer > :nth-child(1) {
        margin-bottom: 1.75rem;
    }

    footer > :nth-child(2) {
        margin-bottom: 2.4375rem;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 2.8125rem 3.472% 3.3125rem;
    }

    footer > :nth-child(1) {
        margin-right: 10%;
    }

    footer > :nth-child(2) {
        margin-right: 14%;
    }
}

@media only screen and (min-width: 1280px) {
    footer > :nth-child(1) {
        margin-right: 16.94%;
    }

    footer > :nth-child(2) {
        margin-right: 21.79%;
    }
}

footer h3 {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}

footer li {
    margin-bottom: 0.75rem;
}