/* body */

body {
    color: black;
    font-family:'Raleway',sans-serif;
    font-size: 1rem;
    margin: 0;
}

#main_wrapper {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

/* header */

header nav {
    display: flex;
}

@media only screen and (max-width: 767px) {
    header nav {
        flex-wrap: wrap;
    }

    header nav :nth-child(1) {
        padding: 24px 0 28px 5.6%;
    }

    header nav :nth-child(2) {
        order: 3;
        padding-left: 10.4%;
        text-align: left;
        width: 39.6%;
    }

    header nav :nth-child(3) {
        order: 4;
        padding-right: 17.6%;
        text-align: right;
        width: 32.4%;
    }

    header nav :nth-child(4) {
        margin-left: auto;
        order: 2;
        padding: 40px 5.6% 0 0;
        text-align: right;
        width: 44.4%;
    }

    header a {
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 13px;
    }
}

@media only screen and (min-width: 768px) {
    header nav :nth-child(1){
        padding: 44px 0 37px 3.681%;
    }
    
    header nav :nth-child(2) {
        margin-left: auto;
    }

    header nav :nth-child(4) {
        padding: 48px 5.347% 0 3.194%;
    }

    header a {
        border-top: 2px white solid;
        margin-left: 1.181%;
        padding: 46px 1.528% 0 1.944%;
    }
}

header img {
    height: auto;
    width: 6rem;
}

header a:hover, header strong {
    border-color: #0065FC;
    color: #0065FC;
}

/* main */

main a {
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #D9D9D9;
    color: black;
    display: flex;
    overflow: hidden;
    text-decoration: none;
}

/* research */

#research
{
    padding: 0 53px 38px 53px;
}

#research h1
{
    font-size: 22px;
    margin: 0 0 8px 1px;
}

#research h1 + p
{
    font-size: 16px;
    margin: 0 0 19px 2px;
}

#research p + div
{
    display: flex;
    margin-bottom: 31px;
}

i[class="fas fa-map-marker-alt"]
{
    align-items: center;
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    border-radius: 14px 0 0 14px;
    display: flex;
    font-size: 18px;
    height: 21px;
    justify-content: center;
    padding: 14px;
    width: 21px;
}

input
{
    border : 1px #F2F2F2 solid; 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
}

#research div form + strong
{
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 14px 14px 0;
    color: white;
    font-size: 18px;
    padding: 14px;
}

#filters
{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-between;
    margin: 0 0 37px 9px;
    padding-left: 0;
    width: 940px;
}

#filters li:first-child
{
    border: 2px white solid;
    border-left: none;
    margin: 12px 20px 12px 0px;
}

#filters li:nth-child(5)
{
    width: max-content;
}

.filter
{
    display: flex;
}

.filter i
{
    align-items: center;
    background-color: #DEEBFF;
    border: 2px #DEEBFF solid;
    border-radius: 50px;
    color: #0065FC;
    display: flex;
    font-size: 18px;
    height: 21px;
    justify-content: center;
    left: 8px;
    padding: 12px;
    position: relative;
    width: 21px;
}

.filter strong
{
    border: 2px #D9D9D9 solid;
    border-radius: 0 50px 50px 0;
    padding: 12px 20px 12px 32px;
}

.filter strong:hover
{
    color: #0065FC;
}

#research :nth-child(5)
{
    align-items: center;
    display: flex;
    font-size: 16px;
}

i[class="fas fa-info"]
{
    align-items: center;
    border: 1px #D9D9D9 solid;
    border-radius: 50px;
    color: #0065FC;
    display: flex;
    font-size: 12px;
    height: 10px;
    justify-content: center;
    margin: 0 10px 0 5px;
    padding: 5px;
    width: 10px;
}

/*hostings*/

#hostings
{
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px 60px 50px;
}

#hostings section
{
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 42px 40px 46px 40px;
}

#hostings section h2
{
    font-size: 22px;
    margin: 0 0 23px 0;
}

#hostings section h2 + div
{
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 428px;
    justify-content: space-between;
    margin: 0 0 40px 0;
    width: 795px;
}

#hostings section a
{
    border: 5px white solid;
    flex-direction: column;
    height: 189px;
    width: 235px;
}

#hostings section a div
{
    height: 114px;
    margin-bottom: 9px;
    overflow: hidden;
    width: 235px;
}

#hostings section img
{
    height: auto;
    width: 244px;
    position: relative;
    right: 4px;
}

img[alt="Auberge la Cannebière"], img[alt="Hôtel Les mouettes"]
{
    bottom: 24px;
}

img[alt="Hôtel du port"]
{
    bottom: 25px;
}

img[alt="Hôtel de la mer"]
{
    bottom: 56px;
}

img[alt="Auberge Le Panier"]
{
    bottom: 11px;
}

img[alt="Hôtel chez Amina"]
{
    bottom: 126px;
}

#hostings section h3
{
    font-size: 16px;
    margin: 0 0 5px 11px;
}

#hostings section p
{
    font-size: 14px;
    margin: 0 0 8px 11px;
}

#hostings section ul
{
    display: flex;
    margin: 0 0 6px 11px;
}

#hostings section i
{
    color: #0065FC;
    font-size: 12px;
}

#hostings .grey i
{
    color: #D9D9D9;
}

#hostings section div + strong
{
    font-size: 18px;
}

/*aside*/

aside
{
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 41px 37px 34px 37px;
}

aside > div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

aside h2
{
    font-size: 22px;
    margin: 0;
}

aside h2 + i
{
    font-size: 22px;
    position: relative;
    top: 2px;
}

aside > div + div
{
    display: flex;
    flex-direction: column;
    height: 498px;
    justify-content: space-between;
    margin-bottom: 0;
}

aside a
{
    background: white;
    border: 5px white solid;
    border-radius: 20px;
    box-shadow: 0 0 20px #D9D9D9;
    display: flex;
    height: 134px;
    overflow: hidden;
    width: 333px;
}

aside a > div
{
    width: 127px;
    height: 134px;
    overflow: hidden;
}

aside a > div + div
{
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 134px;
}

img[alt="Hôtel Le soleil du matin"]
{
    bottom: 6px;
    height: auto;
    position: relative;
    right: 44px;
    width: 216px;
}

img[alt*="Au coeur de l'eau"]
{
    bottom: 4px;
    height: auto;
    position: relative;
    right: 33px;
    width: 188px;
}


img[alt="Hôtel Tout bleu et Blanc"]
{
    bottom: 36px;
    height: auto;
    position: relative;
    right: 6px;
    width: 138px;
}

aside h3
{
    font-size: 16px;
    margin: 11px 10px 7px 20px;
}

aside p
{
    font-size: 14px;
    margin: 0 10px 41px 20px;
}

aside ul
{
    display: flex;
    margin: 0 10px 2px 20px;
}

aside li i
{
    color: #0065FC;
    font-size: 11px;
}

/*activities*/

#activities
{
    padding: 0 50px 60px 50px;
}

#activities h2
{
    font-size: 22px;
    margin: 0 0 22px 0;
}

#activities h2 + div
{
    display: flex;
    justify-content: space-between;
}

#activities a
{
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #D9D9D9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 302px;
}

#activities div > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities strong
{
    font-size: 17px;
    margin: 19px 20px 0 20px;
}

#Vieux_Port, #Parc_National
{
    height: 446px;
}
#Vieux_Port div, #Parc_National div
{
    height: 390px;
    overflow: hidden;
    width: 302px;
}

#Vieux_Port img
{
    width: 670px;
    height: auto;
    position: relative;
    right: 186px;
}

#Parc_National img
{
    width: 660px;
    height: auto;
    position: relative;
    right: 180px;
}

#Fort_de_Pomègues
{
    height: 236px;
}

#Fort_de_Pomègues div
{
    height: 180px;
    overflow: hidden;
    width: 302px;
}

#Fort_de_Pomègues img
{
    width: 302px;
    height: auto;
    position: relative;
    bottom: 110px;
}

#Îles_du_Frioul
{
    height: 166px;
}

#Îles_du_Frioul div
{
    height: 110px;
    overflow: hidden;
    width: 302px;
}

#Îles_du_Frioul img
{
    height: auto;
    width: 302px;
    position: relative;
    bottom: 18px;
}

#Notre_Dame
{
    height: 196px;
}

#Notre_Dame div
{
    height: 140px;
    overflow: hidden;
    width: 302px;
}

#Notre_Dame img
{
    height: auto;
    width: 302px;
}

#Parc_Longchamp
{
    height: 206px;
}

#Parc_Longchamp div
{
    height: 150px;
    overflow: hidden;
    width: 302px;
}

#Parc_Longchamp img
{
    height: auto;
    width: 302px;
    position: relative;
    bottom: 12px;
}

/*footer*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    padding: 46px 50px 38px 50px;
}

footer h3
{
    font-size: 18px;
    margin: 0 0 20px 0;
}

footer li
{
    font-size: 16px;
    margin: 0 0 12px 0;
}

footer section:nth-child(2)
{
    padding: 0 0 0 228px;
}

footer section:nth-child(3)
{
    padding: 0 0 0 292px;
}